extends template.pug

block title
	title alrosa-technology
	- var page_class = 'alrosa-technology top-right';
	- var page_bg = '../img/ring-draw6.jpg';

block content
	.l-container
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2.title-2-up alrosa technology
		+b('').alrosa-technology
			+e('p').content-text
				+e('span').text  1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores incidunt consectetur optio cum quo, quia facilis repellat cupiditate? Dignissimos omnis soluta esse, odio tenetur distinctio aliquam! Similique cum a repellat!
				+e('span').text 2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores incidunt consectetur optio cum quo, quia facilis repellat cupiditate? Dignissimos omnis soluta esse, odio tenetur distinctio aliquam! Similique cum a repellat!
			+e('img')(src='../img/pr.jpg' width="300" height="251" alt='pr').img
			+e('p').contacts  
				strong Контакты
				+e('span').text г.Москва, Набережная Озерковская, д.24, пом. IА, ком.11, оф.406
				+e('span').text E-mail: info@alrosa-inspector.com 
				+e('span').text Тел.: 8 (495) 108 52 58
				+e('span').text Веб-сайт компании:  <a href='https://www.alrosa-inspector.com/'><span>https://www.alrosa-inspector.com/</span></a>
				+e('span').text Номер стенда: А142
			+e('a')(href='#').btn
				+e('span').btn-text В каталог
