extends template.pug

block title
	title catalogue
	- var page_class = 'p-catalogue top-right';
	- var page_bg = '../img/ring-draw6.jpg';

block content
	.l-container
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2 Каталог выставки
		+b('').cards-file-list
			+e('').cols-wrap
				- for(var i = 0; i < 11; i++)
					+e('').col
						+b('article').card-file
							+e('').content-img
								+e('a')(href='#').featured
									+e('img')(src="../img/ps.jpg" alt='alrosa technology').img
							+e('').bottom
								+e('a')(href='#').bottom-title Alrosa technology
								+e('').button
									a(href='#')
										span Подробнее
										+e('').btn-arrow
											+b('i')(aria-hidden="true").btn-arrow-show.nope-fa.nope-fa-chevron-right 
											+b('i')(aria-hidden="true").btn-arrow-show-hide.nope-fa.nope-fa-chevron-right