extends template.pug

block title
	title congress
	- var page_class = 'p-congress top-right';
	- var page_bg = '../img/ring-draw6.jpg';

block content
	.l-container
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2 О конгрессе
		+b('').congress
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat vero reiciendis eius rem sint, consequuntur.
			ul 
				li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, minima?
				li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, minima?
				li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, minima?
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, mollitia.
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, mollitia.
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2 Программа конгресса
		+b('').congress
			+e('').cols-wrap
				+e('').col-1
					+e('').sticky
						+b('a')(href='#' data-id="line_1").btn-shadow.js-act.js-tab-link
							span 30 июня
						+b('a')(href='#' data-id="line_2").btn-shadow.js-tab-link
							span 1 июля
						+b('a')(href='#' data-id="line_3").btn-shadow.js-tab-link
							span 2 июля
						+b('a')(href='#' data-id="line_4").btn-shadow.js-tab-link
							span 3 июля
				+e('').col-2
					.l-content-tab(data-tab-id="line_1").js-content-tab.js-act
						.l-line-wrap
							+e('').double-down
								i.fa.fa-angle-double-down
							+b('').timeline-track
								+e('').text-wrap.b-order-text
									+e('span').text Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
								+e('').icon-wrap.b-order-icon
									i.fa.fa-book.point-icon-inner
								+e('').time-wrap.b-order-time
									+e('span').time 10:30-11:00
							+b('').timeline-track
								+e('').text-wrap
									+e('span').text Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
								+e('').icon-wrap
									i.fa.fa-book.point-icon-inner
								+e('').time-wrap
									+e('span').time 10:30-11:00
							+b('').timeline-track
								+e('').text-wrap.b-order-text
									+e('span').text Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
								+e('').icon-wrap.b-order-icon
									i.fa.fa-book.point-icon-inner
								+e('').time-wrap.b-order-time
									+e('span').time 10:30-11:00
					.l-content-tab(data-tab-id="line_2").js-content-tab
						+b('span').title-2 tab 2