extends template.pug

block title
	title history
	- var page_class = 'p-history top-right';
	- var page_bg = '../img/ring-draw6.jpg';

block content
	.l-container
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2 История J-1
		+b('').widgets
			+b('').btn-box
				+b('a')(href='#').btn.b-btn-box__btn_active 
					span Все события 
				+b('a')(href='#').btn.b-btn-box__btn
					span Конкурс
				+b('a')(href='#').btn.b-btn-box__btn
					span Выстовка
			+b('').gallery
				- for(var i = 0; i < 12; i++)
					+e('a')(href='#').item
						+e('img')(src='../img/history.jpg' alt='history').item-img

