extends template.pug

block title
	title main
	- var page_class = 'p-main';

block content
	+b('').main-screen
		+e('').video-container
			+e('video')(src="../video/bg-video.mp4" autoplay muted playsinline loop type="video/mp4"  preload="auto").video
		+e('').content
			+e('').col
				+b('a')(href='#').btn_dark-transparent.b-main-screen__btn 
					span Lorem, <br />ipsum.
					+b('svg').svg.b-main-screen__svg
						+e('polyline')(points="0 0, 200 0, 200 80, 0 80, 0 0").pol-border.b-main-screen__pol-border
						+e('polyline')(points="0 0, 200 0, 200 80, 0 80, 0 0").pol-animal.b-main-screen__pol-animal
			+e('').col
				+b('img')(src='../img/new-logo-white.png' alt='logo' role='presentation').logo.b-main-screen__logo
		+b('').btn-arow.b-main-screen__btn-arrow
			i.btn-icon.button-after.fa.fa-chevron-down
	.l-container
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2.b-title-2-up Преимущества
		+b('').show
			+e('').top-wrap
				+b('span').title-2.b-show__title Гостиный<br /> Двор
				+b('span').title-3.b-show__subtitle  26 - 28 сентября 
			+e('').row
				+e('').col_left
					+e('').text
						p Lorem ipsum dolor sit amet.
						p Lorem ipsum dolor sit amet.
						p Lorem ipsum dolor sit amet.
				+e('').col_center
					+b('').logo-wrap
						+e('img')(src='../img/fon.jpg' alt='').img-fon
						+e('img')(src='../img/frame-gray.png' alt='').img-frame
						+e('img')(src='../img/j1.png' alt='').img-logo
				+e('').col_right
					+e('').text
						p Lorem ipsum dolor sit amet.
						p Lorem ipsum dolor sit amet.
						p Lorem ipsum dolor sit amet.
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2.b-title-2-up Экспонентам
		+b('').main-card
			+e('').col_smol
				+b('a')(href='#').btn-shadow.b-main-card__btn-shadow_active
					span Lorem
				+e('').text
					p Lorem ipsum dolor sit amet.
				+b('a')(href='#').btn-shadow.b-main-card__btn-shadow
					span Lorem
			+e('').col
				+b('form').form
					+b('input')(type='text' size='40' placeholder='Ф.И.О' aria-required='true' aria-invalid='false').input.b-form__input
					+b('input')(type='text' size='40' placeholder='Название компании' aria-required='true' aria-invalid='false').input.b-form__input
					+b('input')(type='tell' size='40' placeholder='Телефон' aria-required='true' aria-invalid='false').input.b-form__input
					+b('input')(type='email' size='40' placeholder='Email' aria-required='true' aria-invalid='false').input.b-form__input
					+b('textarea')(name='textarea' placeholder='Сообщение'  cols='40' rows='10' aria-invalid='false' ).textarea.b-form__textarea
					+b('').checkbox.b-form__input
						+e('input')(type='checkbox' id='checkbox' value='1').form-input
						+e('label')(for='checkbox').form-label Я соглашаюсь с <a href="#"><span>политекой</span></a> обработки персональных данных
					+b('input')(type='submit' value="Отправить").btn.b-form__btn
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2.b-title-2-up Посетителям	
		+b('').main-card
			+e('').col
				+b('form').form
					+b('input')(type='text' size='40' placeholder='Ф.И.О' aria-required='true' aria-invalid='false').input.b-form__input
					+b('input')(type='tell' size='40' placeholder='Телефон' aria-required='true' aria-invalid='false').input.b-form__input
					+b('input')(type='email' size='40' placeholder='Email' aria-required='true' aria-invalid='false').input.b-form__input
					+b('textarea')(name='textarea' placeholder='Сообщение'  cols='40' rows='10' aria-invalid='false' ).textarea.b-form__textarea
					+b('').checkbox.b-form__input
						+e('input')(type='checkbox' id='checkbox' value='1').form-input
						+e('label')(for='checkbox').form-label Я соглашаюсь с <a href="#"><span>политекой</span></a> обработки персональных данных
					+b('input')(type='submit' value="Отправить").btn.b-form__btn
			+e('').col_smol
				+b('a')(href='#').btn-shadow.b-main-card__btn-shadow_active
					span lorem
				+e('').text
					p Lorem ipsum dolor sit amet.
				+b('a')(href='#').btn-shadow.b-main-card__btn-shadow
					span lorem
	block content					 
		+b('').show-dark
			+b('section').hero
				+e('').title-wrap
					+b('span').title-2.b-hero__title-2.b-title-2-up Возможности
			+b('').show
				+e('').row
					+e('').col_left
						+b('span').title-3.b-show__title_dark  Экспонентам
						+e('').text
							p Lorem ipsum dolor sit amet.
							p Lorem ipsum dolor sit amet.
							p Lorem ipsum dolor sit amet.
					+e('').col_center
						+b('').logo-wrap
								+e('img')(src='../img/fon.jpg' alt='').img-fon_dark
								+e('img')(src='../img/frame-white.png' alt='').img-frame_dark
								+e('img')(src='../img/new-logo-white.png' alt='').img-logo_dark
					+e('').col_right
						+b('span').title-3.b-show__title_dark Посетителям
						+e('').text
							p Lorem ipsum dolor sit amet.
							p Lorem ipsum dolor sit amet.
							p Lorem ipsum dolor sit amet.
		.l-container
			+b('section').hero_buttom
				+e('').title-wrap
					+b('span').title-2.b-hero__title-2.b-title-2-up Конкурс	
			+b('').main-card
				+e('').col_smol
					+b('a')(href='#').btn-shadow.b-main-card__btn-shadow_active
						span lorem
					+e('').text
						p Lorem ipsum dolor sit amet.
					+b('a')(href='#').btn-shadow.b-main-card__btn-shadow
						span lorem
				+e('').col
					+b('form').form
						+b('select').select.b-form__input
							option option 1
							option option 2
						+b('input')(type='text' size='40' placeholder='Ф.И.О' aria-required='true' aria-invalid='false').input.b-form__input
						+b('input')(type='text' size='40' placeholder='Название компании' aria-required='true' aria-invalid='false').input.b-form__input
						+b('input')(type='tell' size='40' placeholder='Телефон' aria-required='true' aria-invalid='false').input.b-form__input
						+b('input')(type='email' size='40' placeholder='Email' aria-required='true' aria-invalid='false').input.b-form__input
						+b('textarea')(name='textarea' placeholder='Сообщение'  cols='40' rows='10' aria-invalid='false' ).textarea.b-form__textarea
						+b('input')(type='file' size='40' placeholder='Не выбран ни один файл' aria-required='true' aria-invalid='false').input.b-form__input
						+b('').checkbox.b-form__input
							+e('input')(type='checkbox' id='checkbox' value='1').form-input
							+e('label')(for='checkbox').form-label Я соглашаюсь с <a href="#"><span>политекой</span></a> обработки персональных данных
						+b('input')(type='submit' value="Отправить").btn.b-form__btn
			+b('section').hero
				+e('').title-wrap
					+b('span').title-2.b-hero__title-2.b-title-2-up Конгресс	
			+b('').main-card
				+e('').col
					+e('').col-row
						+e('img')(src='../img/main.jpg' alt='').img
						+b('a')(href='#').btn.b-main-card__btn
							span Подробнее	
				+e('').col_smol
					+b('a')(href='#').btn-shadow.b-main-card__btn-shadow_active
						span lorem
					+e('').text
						p Lorem ipsum dolor sit amet.
					+b('a')(href='#').btn-shadow.b-main-card__btn-shadow
						span lorem
	