extends template.pug

block title
	title order-expo-kz
	- var page_class = 'p-order-expo-kz top-right';
	- var page_bg = '../img/ring-draw6.jpg';

block content
	.l-container
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2 Экспонентам
		+b('').order-expo
			+e('').cols-wrap
				+e('').col
					+e('img')(width='1000' height='667' src='../img/expo.png').img
					+e('p').title 3 ключевых причины принять участие в J-1 Kazakhstan: 
					+e('ul').list 
						+e('li').list-li  Заключить первые договоренности в рамках работы нового Евразийского ювелирного экспортного бюро;
						+e('li').list-li  Заключить первые договоренности в рамках работы нового Евразийского ювелирного экспортного бюро;
						+e('li').list-li  Заключить первые договоренности в рамках работы нового Евразийского ювелирного экспортного бюро;
					p Оставьте заявку на участие в выставке, и организаторы обязательно с вами свяжутся.
				+e('').col
					+e('form')(action='order-expo-kz').form
						+e('').__input-wrap
							+e('input')(type='text' size='40' placeholder='Ф.И.О' aria-required='true' aria-invalid='false').__input-wrap__input
						+e('').__input-wrap
							+e('input')(type='text' size='40' placeholder='Название компании' aria-required='true' aria-invalid='false').__input-wrap__input
						+e('').__input-wrap
							+e('input')(type='tell' size='40' placeholder='Телефон' aria-required='true' aria-invalid='false').__input-wrap__input
						+e('').__input-wrap
							+e('input')(type='email' size='40' placeholder='Email' aria-required='true' aria-invalid='false').__input-wrap__input
						+e('').__input-wrap
							+e('textarea')(name='textarea' placeholder='Сообщение'  cols='40' rows='10' aria-invalid='false' ).__input-wrap__textarea
						+e('').__input-wrap
							+e('input')(type='checkbox' aria-invalid="false" value='1').__input-wrap__checkbox
							+e('span').__input-wrap__text  Я соглашаюсь с <a href="#"><span>политекой</span></a>  обработки персональных данных
						+e('input')(type='submit' value="Отправить").__form__btn