extends template.pug

block title
	title order-expo-kz
	- var page_class = 'p-order-expo-kz top-right';
	- var page_bg = '../img/ring-draw6.jpg';

block content
	.l-container
		+b('section').hero
			+e('').title-wrap
				+b('span').title-2.b-hero__title-2 Экспонентам
		+b('').order-expo
			+e('').cols-wrap
				+e('').col
					+b('article').order
						+e('img')(width='1000' height='667' src='../img/expo.png').img
						+e('').body
							+e('').title-wrap
								+e('span').subtitle Подзаголовок карточки
								+e('').text-wrap
									+e('li').text Some text 
									+e('li').text Some text					
									+e('li').text Some text					
									+e('li').text Some text
								p Some text	
				+e('').col								