.l-footer
	width 100%
	margin-top auto
	margin-bottom 0
	position relative
	
.b-logo
	display inline-flex
	&__img
		width 100%
		height auto
		
.b-scroll-top
	position fixed
	right 20px
	bottom 20px
	cursor pointer
	
.l-footer
	background-color #4A4242
	padding 30px 0 50px
	color #fff
	&__logo
		width 170px
		margin 0 auto
		filter brightness(0) invert(1)
		@media $min_xsm
			max-width 370px
			width 100%
			margin 0
		@media $min_md
			max-width 215px
	&__col
		display flex
		flex-direction column
		padding-bottom 60px
		@media $min_md
			padding-bottom 0
		&:first-child
			@media $min_xsm
				flex-basis 40%
				max-width 40%
				padding-right 40px
			@media $min_md
				flex-basis 27%
				max-width 27%
		&:nth-child(2)
			@media $min_xsm
				flex-basis 60%
				max-width 60%
			@media $min_md
				flex-basis 45%
				max-width 45%
				padding-right 40px
		&:last-child
			padding-bottom 0
			@media $min_xsm
				flex-basis 28%
				max-width 28%
	&__social
		&.b-social
			margin-top 15px
	&__container
		@media $min_xsm
			display flex
			flex-wrap wrap
	&__text
		display block
		margin-top 14px
		line-height 1.5
		font-size 16px
			
.b-text
	&_contacts
		color $gray
		margin-bottom 70px
		p
			margin 0

//page contacts		
.b-cards-list
	colsWrapFlex(1)
	overflow visible
	&__cols-wrap
		margin -30px -15px
	&__col
		padding 30px 15px
	@media $min_sm
		colsWrapFlex(2)
		overflow visible
	@media $min_md
		colsWrapFlex(3)
		overflow visible
	.b-card
		height 100%
	&__col
		position relative
	
.b-card
	padding 40px 25px
	background-color #fff
	box-shadow 0px 28px 40px 0px rgba(0 0 0 .1)
	transition all 0.4s ease
	&:hover
		transform translateY(-5px)
		box-shadow 30px 30px 60px 0px rgba(0 0 0 .3)
		.b-card
			&__img
				transform scale(1.03)
			&__caption
				$base
	&__img-wrap
		width 250px
		height 250px
		margin 0 auto
	&__img
		width 100%
		height auto
		border-radius 50%
		transition all 0.4s ease
	&__body
		margin-top 60px
		text-align center
	&__title
		&.b-title-2
			font-size 22px
			font-family 'Montserrat'
			font-weight 700
			margin-bottom 6px
	&__profile-content
		margin-top 30px
		min-height 80px
	&__caption
		font-size 15px
		color rgba(1,0,0,0.5)
		transition all 0.4s ease
	&__contact
		color #CACACA

.b-cards-text-list
	padding-bottom 50px

.b-card-text
	padding 10px 10px
	.b-card__img
		border-radius 0

.b-card-text__contact
	font-family "Montserrat", Sans-serif, Montserrat
	color #4D4D4D
	&>b
		font-weight 700

//page news
.b-news-list
	colsWrapFlex(1)
	overflow visible
	&__cols-wrap
		margin-left -24px
	&__col
		padding-left 24px
	@media $min_sm
		colsWrapFlex(2)
		overflow visible
	@media $min_md
		colsWrapFlex(3)
		overflow visible
	&__col
		position relative
	@media	$max_sm
		margin-left -10px
		margin-right -10px
		&__cols-wrap
			margin-left -12px
		&__col
			padding-left 12px
	@media $max_xs
		&__cols-wrap
			margin-left 0
		&__col
			padding-left 0

.b-news
	margin-bottom 24px
	background-color #fff
	transition all 0.4s ease
	&__post-body, &__post-footer
		padding 24px
	&__post-body>:not(:empty):not(:last-child)
		margin-bottom 24px
	&__title
		color #cd2653
		display block
	&__heading
		font-size 26px
		font-weight 400
		font-family 'Montserrat', 'Sans-serif', 'Montserrat'
	&__excerpt
		font-size 16px
	&__read-more > *
		padding 3px 14px 3px 14px
		border-style solid
		border-width 1px 
		border-radius 0
		font-weight 400
		color #cd2653
		&:hover
			color #A9A9A9
	&__post-footer
		order 1
		border-top 1px solid #f7f7f7
	&__date
		font-size 12px
	@media $min_sm
		margin-bottom 12px
	@media $max_xs
		margin-bottom 0

//page catalogue
.b-cards-file-list
	colsWrapFlex(1)
	overflow visible
	&__cols-wrap
		margin 0 -15px
	&__col
		padding 30px 15px
		position relative
	@media $min_sm
		colsWrapFlex(2)
		overflow visible
	@media	$max_xs
		&__cols-wrap
			margin 0 -10px
	@media $min_md
		colsWrapFlex(2)
		overflow visible

.b-card-file
	display flex
	align-items center!important;
	border-radius 10px
	&:hover &__bottom-title 
		color #cd2653
	&:hover &__content-img
		box-shadow 0 27px 60px -27px rgba(0,0,0,.17)
	&:hover &__featured
		box-shadow 0px 10px 30px -8px rgba(0,0,0,0.5)
	&:hover &__img 
			transform scale(1.1)
	&:hover .b-btn-arrow-show-hide
		margin-left 20px
		opacity 1
	&:hover .b-btn-arrow-show
			margin-left 10px
			opacity 0	
	&__content-img
		order 0
		transition all .3s ease-in-out
		border-radius 10px
	&__img
			transition all .3s ease-in-out
	&__featured
		box-shadow 0px 5px 25px -8px rgba(0,0,0,0.5)
		transition all .3s ease-in-out
		background-color rgba(0,0,0,0.15)
		border-radius 10px
		position relative
		overflow hidden
		display block
		&:before
			content ''
			position absolute
			border-radius 10px
			left 0
			top 0
			width 100%
			height 100%
			background-color rgba(0,0,0,0.15)
			transition all .3s ease-in-out
			z-index 1
	&__bottom
		padding-left 15px
		width 85%
	&__bottom-title
		position relative
		width 100%
	&__bottom-title 
		font-family Montserrat, sans-serif, Montserrat
		text-transform: uppercase;
		font-size 23px
		font-weight 600
		letter-spacing 0.4px
		color #000000
		transition all .3s ease-in-out
		word-break break-word
	&__button
		position relative
		display block
		a
			display inline-block
			position relative
			padding 2px
			font-family "Montserrat", Sans-serif, Montserrat
			font-size 14px
			line-height 1.8em
			letter-spacing 0.9px
			color #575757
	&__btn-arrow
		display inline-block
		margin-left 10px
	@media	$max_xsm
		flex-wrap: wrap
		&__bottom
			margin-top 15px
		&__img
			width 100%
		&__content-img
			width 100%

.b-btn-arrow-show
	transition all .2s ease-in-out
	transform translateX(0%) translateZ(0) translateY(-50%)
	position absolute
	top 55%
	&:before
		content '\f105'
		font-family FontAwesome
		display inline-block
		padding-left 5px
		padding-right 5px
		font-style normal
		font-weight 600
		line-height 1
		font-size 20px
		color #575757
	@media	$max_xsm
			&:before
				padding 0

.b-btn-arrow-show-hide
	transition all .2s ease-in-out
	transform translateX(-20px) translateZ(0)
	position absolute
	opacity 0
	top 14%
	&:before
		content '\f105'
		font-family FontAwesome
		display inline-block
		padding-left 5px
		padding-right 5px
		font-style normal
		font-weight 600
		line-height 1
		font-size 20px
		color #575757
	@media	$max_xsm
			&:before
				padding 0

//page gallery
.b-elementor-gallery
	containerWrapFlex(1, 10, 10)
	@media $min_xsm
		containerWrapFlex(2, 10, 10)
	@media $min_sm
		containerWrapFlex(3, 10, 10)
	@media $min_md
		containerWrapFlex(3, 10, 10)

.b-elementor-gallery
	&__container-img
		position relative
		&:before
			content ''
			position absolute
			width 100%
			height 100%
			transition all .800s ease-in-out
		&:hover:before
			background rgba(0,0,0,0.5)
	&__titles-container
		display flex
		flex-wrap wrap
		justify-content center
		margin-bottom 40px
		&>:not(:last-child)			
			margin-right 20px
	&__title-item
		cursor pointer
		color #6d7882
		position relative
		padding 7px 14px
		transition all .3s
		font-family 'Comfortaa'
		font-weight 600
		&:before,
		&:after
			content ''
			position absolute
			width 3px
			height 3px
			border-style solid
			background transparent
			opacity 0
		&:before
			left 0
			top 0
			bottom 0
			right 0
			transition width .1s .2s,height .1s .3s,opacity .12s .22s
			border-width 0 0 1px 1px
		&:after
			top auto
			bottom 0
			left auto
			right 0
			transition width .1s,height .1s .1s,opacity .02s .18s
			border-width 1px 1px 0 0
		&:hover,
		&_active
			border-color #000
			color #54595f
			&:before
				border-width 0 0 1px 1px
				transition opacity .02s,height .1s,width .1s .1s
			&:after
				border-width 1px 1px 0 0
				transition opacity .02s .2s,height .1s .2s,width .1s .3s
			&:before,
			&:after
				opacity 1
				width 100%
				height 100%
	&__title-item_active
		color black
		&:hover
			color black

//page video
.b-video-list
	colsWrapFlex(1)
	background-color white
	&__cols-wrap
		max-width 1160px
		margin auto
	&__col
		padding 10px
	@media $min_sm
		colsWrapFlex(3)
	@media $min_md
		colsWrapFlex(3)
	&__top
		margin-bottom 20px
		width 100%
		padding-bottom 56.25%
		position relative
		iframe
			position absolute
			top 0
			left 0
			height 100%
			width 100%
			border 0
			background-color #000
	&__bottom
		.b-h2
			color #000
			font-family "Montserrat", Sans-serif, Montserrat
			font-size 16px
			font-weight 500
			text-align center
			margin-bottom 0

//order-expo-kz
.b-order-expo
	colsWrapFlex(1)
	&__col
		padding 10px
	@media $min_sm
		colsWrapFlex(2)
	@media $min_md
		colsWrapFlex(2)
	&__img
		margin-bottom 40px
	&__list
		margin 0 0 3rem 3rem
	&__list-li
		list-style-position initial
		margin 0.5rem 0 0 2rem
	&__title
		font-weight 700
	&__form
		text-align center
		font-family 'Montserrat' , Sans-serif, Montserrat
		&__btn
			display inline-block
			white-space nowrap
			user-select none
			border 0
			cursor pointer
			text-transform uppercase
			font-size 18px
			font-weight 400
			padding 10px 30px 10px 30px
			color #ffffff
			background-color #2F2F2F
			transition all 0.4s ease
			letter-spacing 0.0333em
			line-height 1.25
			&:hover
				background-color #767676
				text-decoration underline
	&__input-wrap
		&:not(:last-child)
			padding-bottom: 27px
		&__text
			font-family 'Helvetica Neue',Helvetica,'Segoe UI',Arial,sans-serif
		&__input,
		&__textarea
			outline none
			&:not(.b-order-expo__form__btn):not(.b-order-expo__input-wrap__checkbox)
				width: 100%
				display block
				box-shadow 0px 0px 10px 0px rgba(0,0,0,0.5)
				font-size 18px
				font-weight 300
				padding 15px 15px 15px 30px
				border-radius 0px
				background-color #fff
				border 1px solid #e7e7e7
				color #000
				transition border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
				&:hover
					border 1px solid#333 
		&__textarea
			resize none
			line-height 1.5
			appearance none
			height 176px
		&__input
			&:not(.b-order-expo__form__btn):not(.b-order-expo__input-wrap__checkbox)
				height: 50px;
		&__checkbox
			appearance none
			position relative
			top 2px
			display inline-block
			margin 0
			width 15px
			min-width 15px
			height 15px
			background #fff
			border 0
			border-style solid
			border-width 1px
			border-color #dcd7ca
			cursor pointer

//product
.b-alrosa-technology
	&__img
		margin auto
		margin-bottom 20px
	&__text
		display block
	&__btn
		text-align center
		display block
		padding-top 20px
	&__btn-text
		font-family 'Comfortaa'
		font-size 18px
		font-weight 400
		padding 12px 24px
		color #000
		background-color rgba(255, 255, 255, 0)
		border-style solid
		border-width 2px
		border-radius 0
		transition all .3s
		&:hover 
			color #747474

/////////////////////////////

.b-item
	padding 40px 25px
	background-color #fff
	transition all 0.4s ease

.b-footer-contacts
	&__row
		margin-bottom 14px
		display flex
		align-items start
		&:last-child
			margin-bottom 0
		&>a
			color #fff
			&:hover
				opacity 0.7
		.fa
			flex-shrink 0
			font-size 22px
			&+.b-footer-contacts__text
				padding-left 15px
			
.b-social
	display flex
	margin -5px
	&__item
		margin 5px
		display inline-flex
		align-items center
		justify-content center
		width 40px
		height 40px
		border-radius 50%
		border 1px solid #5e6d7e
		color #fff
		font-size 18px
		text-decoration none
		
.b-copy-text
	margin-top 40px
	text-align center
	font-weight 400
	font-family 'Lato'
	font-size 16px
	@media $min_xsm
		text-align left