.l-footer
	width 100%
	margin-top auto
	margin-bottom 0
	position relative
	
.b-logo
	// display inline-flex
	display inline-block
	&__img
		width 100%
		height auto
		
.b-scroll-top
	position fixed
	right 20px
	bottom 20px
	cursor pointer
	transition .25s opacity, .25s visibility
	&.hide
		opacity 0
		visibility hidden
		
.l-content-tab
	display none
	&.js-act
		display block
		
.b-history-carousel-wrap
	position relative
	margin-bottom 42px
	&:last-child
		margin-bottom 0
	@media $min_md
		padding 0 56px
	@media (min-width: 1300px)
		padding 0
	&__nav-wrap
		display none
		@media $min_md
			display block
		.b-carousel-arr
			position absolute
			vAlign()
			&_prev
				left 12px
				@media (min-width: 1300px)
					left -48px
			&_next
				right 12px
				@media (min-width: 1300px)
					right -48px
			
.b-carousel-arr
	font-size 30px
	background-color transparent
	
.l-footer
	background-color #4A4242
	padding 30px 0 50px
	color #fff
	&__logo
		width 170px
		margin 0 auto
		filter brightness(0) invert(1)
		@media $min_xsm
			max-width 370px
			width 100%
			margin 0
		@media $min_md
			max-width 215px
		// .b-logo
		// 	&__img
		// 		max-height 174px
	&__col
		display flex
		flex-direction column
		padding-bottom 60px
		@media $min_md
			padding-bottom 0
		&:first-child
			@media $min_xsm
				flex-basis 40%
				max-width 40%
				padding-right 40px
			@media $min_md
				flex-basis 27%
				max-width 27%
		&:nth-child(2)
			@media $min_xsm
				flex-basis 60%
				max-width 60%
			@media $min_md
				flex-basis 45%
				max-width 45%
				padding-right 40px
		&:last-child
			padding-bottom 0
			@media $min_xsm
				flex-basis 28%
				max-width 28%
	&__social
		&.b-social
			margin-top 15px
	&__container
		@media $min_xsm
			display flex
			flex-wrap wrap
	&__text
		display block
		margin-top 14px
		line-height 1.5
		font-size 16px

//main
.p-main
	.l-header
		position absolute
		z-index 3
		width 100%
		&__logo
			display none
	.b-burger
		color #fff
	.b-header-nav
		justify-content space-between
		@media $max_sm
			background-color #fff
			color #000
		&__link
			@media $min_md
				color white
	.l-common-wrap
		padding-bottom 20px

.b-main-screen
	@media $min_sm
		&__col
			flex-basis 50%
		&__content
			flex-wrap nowrap
		&__logo
			padding 0
			float right
		&__btn
			padding-left 125px 
	@media	$max_xs
		&__col
			text-align center
	min-height 100vh 
	width 100% 
	position relative
	display flex
	flex-wrap wrap
	&:before
		content ''
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		background black
		opacity 0.26
		z-index 2
	&__content
		display flex
		flex-wrap wrap
		position relative
		max-width 1160px
		padding 180px 0 50px
		margin auto
		flex-basis 100%
		z-index 2
	&__col
		flex-basis: 100%
		max-width 100%
		padding 10px
		align-self center
	&__logo
		padding 50px 0 60px 0
		max-width 400px
	&__btn-arrow
		flex-basis 100%
		text-align center
		position relative
		padding 5px
		color white
		z-index 2
		&>*
			overflow hidden
			animation-name ekit-bounce
			animation-duration 5s
			animation-iteration-count infinite
			animation-direction normal
	&__video-container
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		z-index 1
	&__video
		width 100%
		height 100%
		object-fit cover
	&__btn
		font-size 20px
		font-weight 200
		cursor pointer
		color white
		&:hover 
			.b-svg__pol-animal
				stroke-dashoffset: -420
		span
			position absolute
			margin auto
			letter-spacing 3px
	&__svg
		text-align center
		width 200px
		height 80px
		stroke-width 3px
	&__pol-border
		fill rgba(0, 0, 0, 0.58)
		stroke #3B3B3B
		font-size 20px
		font-weight 200
		letter-spacing -0.015em
	&__pol-animal
		letter-spacing -0.015em
		stroke-dasharray 20 420
		stroke-dashoffset 20
		transition all 1s ease-in-out
		stroke white

.b-main-card
	@media $min_sm
		&__col
			flex-basis 50%
	display flex
	flex-wrap wrap
	&_animal
		animation-duration 2s
		animation-fill-mode both
		animation-name fadeInUp
	&__col
		flex-basis 100%
		max-width 100%
		padding 15px
	&__content
		display none
		&.js-act
			display block
	&__col-row
		text-align center
	&__btn-shadow
		padding 15px 20px
		position relative
		text-align: left
		margin-bottom 20px
		&.b-btn-shadow
			&_active
				+
					.b-main-card
						&__text
							display block
	&__btn
		padding 12px 24px
		border 2px solid black
		border-radius 0
		color black
		font-family 'Comfortaa'
		font-size 18px
		font-weight: 400
		&:hover
			color #747474
			border 2px solid #747474
	&__text
		display none
	&__img
		padding-bottom 20px
	&__text
		padding 25px 15px
		&>*
			font-size 16px
			font-weight 400
			line-height 26px
	@media $min_md
		&__col
			flex-basis 60.47%
			&_sm
				flex-basis 39.52%

.b-show-dark
	padding 8rem 0 
	background rgba(0,0,0,0.08)
	margin-top 85px
	.b-hero
		margin 0 0 60px 0
	.b-show
		max-width 1160px
		margin auto

.b-show 
	@media $min_sm
		&__col
			flex-basis 33.3%
			align-items inherit
			&_left
				text-align right
			&_center
				text-align center 						
			&_right	
				text-align left
		&__row
			flex-wrap nowrap
	&__row
		display flex
		flex-wrap wrap
	&__col
		flex-basis 100%
		max-width 100%
		padding 10px
		display flex
		flex-direction column
		align-items center
		&_center
			height 513px
	&__top-wrap
		text-align center
	&__title
		font-size 45px
		color #313131
		font-weight 100
		&_dark
			font-size 22px
			text-transform uppercase
			font-weight 400
			line-height 31px
	&__subtitle
		font-size: 30px
		font-weight: 200
		color #717171
	&__text>*
		font-size 17px
		font-weight 400
		transition all .3s linear
		&:hover
			color #888

.b-logo-wrap
	position relative
	&__img-fon
		position absolute
		max-width 250px
		z-index 1
		opacity 0.28
		left 20px
		top 25px
		&_dark
			opacity 1
	&__img-frame
		position absolute
		max-width 250px
		left 50px
		top -15px
		z-index 2
	&__img-logo
		position relative
		max-width 332px
		z-index 3

.b-text
	&_contacts
		color $gray
		margin-bottom 70px
		p
			margin 0

//page contacts		
.b-cards-list
	colsWrapFlex(1)
	overflow visible
	&__cols-wrap
		margin -30px -15px
	&__col
		padding 30px 15px
	@media $min_sm
		colsWrapFlex(2)
		overflow visible
	@media $min_md
		colsWrapFlex(3)
		overflow visible
	&_text-list
		padding-bottom 50px
	.b-card
		height 100%
	&__col
		position relative
	
.b-card
	padding 40px 25px
	background-color #fff
	box-shadow 0px 28px 40px 0px rgba(0 0 0 .1)
	transition all 0.4s ease
	&:hover
		transform translateY(-5px)
		box-shadow 30px 30px 60px 0px rgba(0 0 0 .3)
		.b-card
			&__img
				transform scale(1.03)
			&__caption
				$base
	&__img-wrap
		width 250px
		height 250px
		margin 0 auto
	&__img
		width 100%
		height auto
		border-radius 50%
		transition all 0.4s ease
		&_img-text
			border-radius 0
	&__body
		margin-top 60px
		text-align center
	&__title
		&.b-title-2
			font-size 22px
			font-family 'Montserrat'
			font-weight 700
			margin-bottom 6px
	&__profile-content
		margin-top 30px
		min-height 80px
	&__caption
		font-size 15px
		color rgba(1,0,0,0.5)
		transition all 0.4s ease
	&__contact
		color #CACACA
		&_contact-text
			font-family "Montserrat", Sans-serif, Montserrat
			color #4D4D4D
			&>b
				font-weight 700
	&_card-text
		padding 10px 10px


//page news
.b-news-list
	colsWrapFlex(1)
	overflow visible
	&__cols-wrap
		margin-left -24px
	&__col
		padding-left 24px
	@media $min_sm
		colsWrapFlex(2)
		overflow visible
	@media $min_md
		colsWrapFlex(3)
		overflow visible
	&__col
		position relative
	@media	$max_sm
		margin-left -10px
		margin-right -10px
		&__cols-wrap
			margin-left -12px
		&__col
			padding-left 12px
	@media $max_xs
		&__cols-wrap
			margin-left 0
		&__col
			padding-left 0

.b-news
	margin-bottom 24px
	background-color #fff
	transition all 0.4s ease
	&__post-body, 
	&__post-footer
		padding 24px
	&__post-body>:not(:empty):not(:last-child)
		margin-bottom 24px
	&__title
		color #cd2653
		display block
		font-size 26px
		font-weight 400
		font-family 'Montserrat', 'Sans-serif', 'Montserrat'
	&__excerpt
		font-size 16px
	&__read-more > *
		padding 3px 14px 3px 14px
		border-style solid
		border-width 1px 
		border-radius 0
		font-weight 400
		color #cd2653
		&:hover
			color #A9A9A9
	&__post-footer
		order 1
		border-top 1px solid #f7f7f7
	&__date
		font-size 12px
	@media $min_sm
		margin-bottom 12px
	@media $max_xs
		margin-bottom 0

//page catalogue
.b-cards-file-list
	colsWrapFlex(1)
	overflow visible
	&__cols-wrap
		margin 0 -15px
	&__col
		padding 30px 15px
		position relative
	@media $min_sm
		colsWrapFlex(2)
		overflow visible
	@media	$max_xs
		&__cols-wrap
			margin 0 -10px
	@media $min_md
		colsWrapFlex(2)
		overflow visible
		
.b-news-item
	img
		margin 40px 0
		@media $min_md
			margin 40px 58px

.b-card-file
	display flex
	align-items center
	border-radius 10px
	&:hover &__bottom-title 
		color #cd2653
	&:hover &__content-img
		box-shadow 0 27px 60px -27px rgba(0,0,0,.17)
	&:hover &__featured
		box-shadow 0px 10px 30px -8px rgba(0,0,0,0.5)
	&:hover &__img 
			transform scale(1.1)
	&:hover .b-btn-arrow-show-hide
		margin-left 20px
		opacity 1
	&:hover .b-btn-arrow-show
			margin-left 10px
			opacity 0	
	&__content-img
		order 0
		transition all .3s ease-in-out
		border-radius 10px
		max-width 50%
		flex-basis 50%
	&__img
		transition all .3s ease-in-out
	&__featured
		box-shadow 0px 5px 25px -8px rgba(0,0,0,0.5)
		transition all .3s ease-in-out
		background-color rgba(0,0,0,0.15)
		border-radius 10px
		position relative
		overflow hidden
		display block
		&:before
			content ''
			position absolute
			border-radius 10px
			left 0
			top 0
			width 100%
			height 100%
			background-color rgba(0,0,0,0.15)
			transition all .3s ease-in-out
			z-index 1
	&__bottom
		flex 0 0 50%
		max-width 50%
		padding-left 15px
	&__bottom-title
		position relative
		width 100%
	&__bottom-title 
		font-family Montserrat, sans-serif, Montserrat
		text-transform: uppercase;
		font-size 23px
		font-weight 600
		letter-spacing 0.4px
		color #000000
		transition all .3s ease-in-out
		word-break break-word
	&__button
		position relative
		display block
		a
			display inline-block
			position relative
			padding 2px
			font-family "Montserrat", Sans-serif, Montserrat
			font-size 14px
			line-height 1.8em
			letter-spacing 0.9px
			color #575757
	&__btn-arrow
		display inline-block
		margin-left 10px
	@media	$max_xsm
		flex-wrap: wrap
		&__bottom
			flex 0 0 100%
			max-width 100%
			margin-top 15px
			padding-right 15px
		&__img
			width 100%
		&__content-img
			flex 0 0 100%
			max-width 100%

.b-btn-arrow-show
	transition all .2s ease-in-out
	transform translateX(0%) translateZ(0) translateY(-50%)
	position absolute
	top 55%
	&:before
		// content '\f054'
		// font-family 'FontAwesome'
		display inline-block
		padding-left 5px
		padding-right 5px
		font-style normal
		font-weight 600
		line-height 1
		color #575757
	@media	$max_xsm
		&:before
			padding 0

.b-btn-arrow-show-hide
	transition all .2s ease-in-out
	transform translateX(-20px) translateZ(0) translateY(-50%)
	position absolute
	opacity 0
	// top 14%
	top 55%
	&:before
		// content '\f105'
		// font-family 'FontAwesome'
		display inline-block
		padding-left 5px
		padding-right 5px
		font-style normal
		font-weight 600
		line-height 1
		color #575757
	@media	$max_xsm
		&:before
			padding 0

//page gallery
.b-gallery
	&:not(.js-act)
		display none
	containerWrapFlex(1, 10, 10)
	@media $min_xsm
		containerWrapFlex(2, 10, 10)
	@media $min_sm
		containerWrapFlex(3, 10, 10)
	@media $min_md
		containerWrapFlex(3, 10, 10)
	&__item
		position relative
		display block
		&:before
			content ''
			position absolute
			width 100%
			height 100%
			transition all .800s ease-in-out
		&:hover:before
			background rgba(0,0,0,0.5)
		&.animated
			-webkit-animation-duration: .5s;
			animation-duration: .5s;
	

.b-btn-box
	display flex
	flex-wrap wrap
	justify-content center
	margin-bottom 40px
	&>:not(:last-child)			
		margin-right 20px
	&__btn
		cursor pointer
		color #6d7882
		position relative
		padding 7px 14px
		transition all .3s
		font-family 'Comfortaa'
		font-weight 600
		&:before,
		&:after
			content ''
			position absolute
			width 3px
			height 3px
			border-style solid
			background transparent
			opacity 0
		&:before
			left 0
			top 0
			bottom 0
			right 0
			transition width .1s .2s,height .1s .3s,opacity .12s .22s
			border-width 0 0 1px 1px
		&:after
			top auto
			bottom 0
			left auto
			right 0
			transition width .1s,height .1s .1s,opacity .02s .18s
			border-width 1px 1px 0 0
		&:hover,
		&_active
			border-color #000
			color #54595f
			&:before
				border-width 0 0 1px 1px
				transition opacity .02s,height .1s,width .1s .1s
			&:after
				border-width 1px 1px 0 0
				transition opacity .02s .2s,height .1s .2s,width .1s .3s
			&:before,
			&:after
				opacity 1
				width 100%
				height 100%
	&__btn
		&_active
			color black
			&:hover
				color black

// //page video
// .p-video
// 	.l-container
// 		padding 0

.b-video-list
	colsWrapFlex(1)
	@media $min_sm
		colsWrapFlex(3)
	@media $min_md
		colsWrapFlex(3)
	background-color white
	&__cols-wrap
		max-width 1160px
		margin auto
	&__col
		padding 10px

.b-video-file
	&__top
		margin-bottom 20px
		width 100%
		padding-bottom 56.25%
		position relative
		iframe
			position absolute
			top 0
			left 0
			height 100%
			width 100%
			border 0
			background-color #000
	&__bottom
		text-align center
		.b-video-title-2
			color #000
			font-family "Montserrat", Sans-serif, Montserrat
			font-size 16px
			font-weight 500
			margin-bottom 0

//order-expo-kz
.p-order-expo-kz
	.l-common-wrap
		padding-bottom 0
	.l-container
		padding 0

.b-order-expo
	padding 50px 0
	colsWrapFlex(1)
	&__col
		padding 10px
	@media $min_sm
		colsWrapFlex(2)
	@media $min_md
		colsWrapFlex(2)
	@media $min_sm
		padding 80px 0

.b-order
	&__img
		margin-bottom 40px
	&__text-wrap
		&>*:first-child
			font-weight 700
		ul
			margin 0 0 30px 30px
			list-style-position initial
			&>*
				margin 5px 0 0 20px

.b-form
	&__input
		height 56px
		margin-bottom 27px
		&:not(.b-checkbox)
			padding 3.75px 7.5px
	&__textarea
		height 176px		
		resize none
		margin-bottom 27px
		padding 18.75px 7.5px 3.75px
		box-shadow 0px 0px 10px 0px rgba(0,0,0,0.5)
	&__input,
		&__textarea
			&:not(.b-checkbox)
				font-size 1rem
				color #495057
				padding-left 30px
				box-shadow 0px 0px 10px 0px rgba(0,0,0,0.5)
				background-color #fff
				border 1px solid #e7e7e7
				border-radius 0
				transition border-color .15s ease-in-out,box-shadow .15s ease-in-out
				&:hover
					border 1px solid#333	
	&__btn
		user-select none
		border 0
		cursor pointer
		border-radius 0
		text-transform uppercase
		font-size 18px
		font-weight 400
		padding 10px 30px 10px 30px
		color #ffffff
		background-color #2F2F2F
		transition all 0.4s ease
		letter-spacing 0.0333em
		line-height 1.25
		&:hover
			background-color #767676
			text-decoration underline

.b-checkbox
	height auto
	font-weight 600
	text-align center
	&__form-input
		appearance none
		position relative
		top 2px
		display inline-block
		margin 0
		width 15px
		min-width 15px
		height 15px
		background #fff
		border 1px solid #dcd7ca
		cursor pointer
		&:checked
			&:before 
				content url(../img/jackdaw.svg)
				position absolute
				display inline-block
				margin -1.875px 0 0 -2.5px
				height 17.5px
				width 17.5px

//product
.b-catalog
	@media $min_sm
		&__img-wrap
			flex-basis 35%
			max-width 100%
	&__wrap
		display flex
		flex-wrap wrap
	&__buttom-btn
		text-align center
		padding-top 20px
	&__btn
		padding-top 20px
		font-family 'Comfortaa'
		font-size 18px
		font-weight 400
		padding 12px 24px
		color #000
		background-color rgba(255, 255, 255, 0)
		border-style solid
		border-width 2px
		border-radius 0
		transition all .3s
		&:hover 
			color #747474
	&__img-wrap
		display flex
		justify-content center
		height max-content
		flex-basis 100%
		max-width 100%
		padding 10px
		@media $min_xsm
			padding-right 30px

.b-catalog-item
	@media $min_sm
		flex-basis 65%
		max-width 100%
	flex-basis 100%
	max-width 100%
	&__img
		margin auto
		margin-bottom 20px
	&__text-wrap
		padding-bottom 20px
		&>*
			margin-bottom 0
	&__contacts
		&>*
			margin-bottom 0
		&>*:first-child 
			font-weight 700

//congress

.l-line-wrap
	position relative
	&:after
		@media $min_xsm
			content ''
			position absolute
			top 0
			left 50%
			height 100%
			border-left 1px solid black
			z-index 1

.b-congress
	@media $min_sm
		&__col-1
			flex-basis 22%
			max-width 100%
		&__col-2
			flex-basis 78%
			max-width 100%

		.b-order-text
			order 1
			.b-timeline-track__text
				padding-right 135px
				padding-left 0
		.b-order-icon
			order 2
			&:after
				content ''
				width 120px
				position absolute
				left 0
				top 50%
				border 1px solid #e5e5e5
				margin-left -120px
			&:before
				border 0
		.b-order-time
			text-align left
			order 3
			.b-timeline-track__time
				margin-left 10px
				&:after
					content ''
					left 0
					top 50%
					position absolute
					margin-top -7px
					margin-left -14px
					border 7px solid #E2E2E2;
					border-bottom-color transparent
					border-top-color transparent
					border-left-color transparent
				&:before
					border 0
	&__cols-wrap
		display flex
		flex-wrap wrap
	&__col-1
		flex-basis 100%
		max-width 100%
		padding 15px
		background white
		position relative
	&__col-2
		flex-basis 100%
		max-width 100%
		position relative
		padding 15px
		margin-top 120px
	.b-btn-shadow
		margin-bottom 20px
		padding 15px 20px
		&:after
			border 0
	&__sticky
		top 0
		position sticky
		position -webkit-sticky
		align-self flex-start
	&__double-down
		position absolute
		left 50%
		transform translate(-50%, -100%)
		background-color white
		z-index 2
	&__btn
		&.b-btn
			margin-top 20px
			display inline-flex

.b-timeline-track
	display flex
	margin-top 20px
	text-align left
	&__text-wrap
		order 3
		width 100%
		padding 10px 0 30px 0
	&__text
		display block
		padding-left 135px
	&__icon-wrap
		order 2
		position relative
		display grid
		width 100px
		height 50px
		align-items center
		background #fff
		border-radius 50%
		text-align center
		color #313131
		cursor pointer
		transition all .55s
		border 1px solid #e2e2e2
		z-index 2
		&:before
			content ''
			width 120px
			position absolute
			right 0
			top 50%
			border 1px solid #e5e5e5
			margin-right -120px
		&:hover
			color #313131
			background #e2e2e2
	&__time-wrap
		order 1
		width 100%
		margin-top 13.5px
		text-align right
	&__time
		position relative
		font-family "Montserrat", Sans-serif
		font-size 16px
		color #8F1616
		background #E2E2E2
		border-radius 0
		padding 10px 15px
		transform translateX(0) translateY(50%)
		margin-right 10px
		&:before
			content ''
			right 0
			top 50%
			position absolute
			margin-top -7px
			margin-right -14px
			border 7px solid #E2E2E2;
			border-bottom-color transparent
			border-top-color transparent
			border-right-color transparent

@media $max_xs
	.b-congress
		&__col-2
			&:after
				content ''
				position absolute
				top 0
				left 40px
				height 100%
				border-left 1px solid black
				z-index 1
		&__double-down
			// left 40px
			left 25px
			transform translate(-50%, -200%)
	.b-timeline-track
		&__text-wrap
			order 3
		&__text
			padding-left 15px
		&__icon-wrap
			order 1
			width 70px
			&:before
				border 0
		&__time-wrap
			order 2
			white-space nowrap
			width 20% 
		&__time
			margin-left 10px
			position relative
			&:after
				content ''
				left 0
				top 50%
				position absolute
				margin-top -7px
				margin-left -14px
				border 7px solid #E2E2E2;
				border-bottom-color transparent
				border-top-color transparent
				border-left-color transparent
				border-right-color inherit
			&:before
				border 0
	.b-order-time
		.b-timeline-track__time
			&:after
				border 7px solid #E2E2E2;
				border-bottom-color transparent
				border-top-color transparent
				border-left-color transparent

@media $max_xsm
	.b-timeline-track
		&__text-wrap
			margin-top 60px
		&__text
			padding-left 20px
		&__icon-wrap
			&:before
				width 100px
				right 21px
				top 150%
				border 1px solid #e5e5e5
				margin-right -100px

//footer
.b-item
	padding 40px 25px
	background-color #fff
	transition all 0.4s ease

.b-footer-contacts
	&__row
		margin-bottom 14px
		display flex
		align-items start
		&:last-child
			margin-bottom 0
		&>a
			color #fff
			&:hover
				opacity 0.7
		.fa
			flex-shrink 0
			font-size 22px
			&+.b-footer-contacts__text
				padding-left 15px
			
.b-social
	display flex
	margin -5px
	&__item
		margin 5px
		display inline-flex
		align-items center
		justify-content center
		width 40px
		height 40px
		border-radius 50%
		border 1px solid #5e6d7e
		color #fff
		font-size 18px
		text-decoration none
		
.b-copy-text
	margin-top 40px
	text-align center
	font-weight 400
	font-family 'Lato'
	font-size 16px
	@media $min_xsm
		text-align left