footer.l-footer
	.l-container.l-footer__container
		.l-footer__col
			+b('a')(href="#").logo.nope-l-footer__logo
				+e('img')(src="../img/new-logo.png").img
		.l-footer__col
			+b('article').footer-contacts
				+b('span').title-2.b-footer-contacts__title Контакты
				+e('').row
					i.fa.fa-calendar-alt
					+e('span').text С 26 по 28 сентября 2021 года
				+e('').row
					i.fa.fa-map-marked-alt
					+e('span').text Выставочный комплекс "Гостиный двор",  Москва, ул. Ильинка, 4
				+e('').row
					i.fa.fa-phone-alt
					+e('a')(href='#').text +7 (495) 778-80-88
				+e('').row
					i.fa.fa-envelope
					+e('a')(href='#').text jshow.bed-grafix.com
			.l-footer__text Организатор: ООО "Выставочная компания Джей Уан" ОГРН 1207700119252, ИНН 9705142970
		.l-footer__col
			+b('article').footer-contacts
				+b('span').title-2.b-footer-contacts__title Мы в соцсетях
				+e('span').text_nopad Не пропустите важные новости. Подпишитесь на наш канал!
			+b('').social.nope-l-footer__social
				+e('a')(href="#").item
					i.fa.fa-vk.fa-fw
				+e('a')(href="#").item
					i.fa.fa-telegram-plane.fa-fw
			+b('span').title-2.b-footer-contacts__title Подписаться на рассылку
			+b('form').form.nope-l-footer__form
				+b('input')(type="text" placeholder="Введите ваш E-mail").input.b-form__input
				+b('button')(type="submit").btn.b-form__btn Подписаться

			+e('p').copy-text ©2020. j-1.show. All Rights Reserved.


+b('a').scroll-top.js-scroll-top
	+e('img')(src="../img/arr-top.png").img
