+b('nav').nav
	+e('').wrap
		+e('a')(href='#').item item
	+e('').wrap
		+e('a')(href='#').item_act item active
	+e('').wrap_hover-dropdown
		+e('span').item item hover dropdown
		+e('').inner
			+e('').inner-wrap
				+e('a')(href='#').inner-item inner dropdown item
			+e('').inner-wrap
				+e('a')(href='#').inner-item inner dropdown item
			+e('').inner-wrap
				+e('a')(href='#').inner-item inner dropdown item
	+e('').wrap
		+e('a')(href='#').item item